@model reservation_tracker.Models.ViewModels.Rooms.RoomsIndexPageViewModel

@{
    ViewData["Title"] = "Rooms";

    // Sorting helper variables
    var currentSort = Model.CurrentSort;
    var currentDir = Model.CurrentDir ?? "asc";
}

<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sort="RoomNumber"
                   asp-route-dir="@(Model.CurrentSort == "RoomNumber" && Model.CurrentDir == "asc" ? "desc" : "asc")">
                    Room Number
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="RoomType"
                   asp-route-dir="@(Model.CurrentSort == "RoomType" && Model.CurrentDir == "asc" ? "desc" : "asc")">
                    Room Type
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Notes"
                   asp-route-dir="@(Model.CurrentSort == "Notes" && Model.CurrentDir == "asc" ? "desc" : "asc")">
                    Notes
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rooms) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
