@model reservation_tracker.Models.ViewModels.Reservations.ReservationIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateReserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateReserved)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservedByDisplayName)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.ReservedByDisplayName) ? "-" : Model.ReservedByDisplayName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @(Model.ModifiedOn?.ToString("g") ?? "-")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByDisplayName)
        </dt>
        <dd class="col-sm-10">
            @(Model.ModifiedByDisplayName ?? "-")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CanceledOn)
        </dt>
        <dd class="col-sm-10">
            @(Model.CanceledOn?.ToString("g") ?? "-")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardLastFour)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.CardLastFour) ? "-" : Model.CardLastFour)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestFullName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestPhoneNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestFullAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestFullAddress)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.ReservationId" asp-route-returnUrl="@Model.ReturnUrl">Edit</a>
    @if (!string.IsNullOrEmpty(Model.ReturnUrl) && Url.IsLocalUrl(Model.ReturnUrl))
    {
        <a class="btn btn-primary" href="@Model.ReturnUrl">Back</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Reservations" asp-action="Index">Back to List</a>
    }
</div>