@model IEnumerable<reservation_tracker.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                asp-route-sort="DateReserved"
                asp-route-dir="@(ViewData["Sort"]?.ToString() == "DateReserved" && ViewData["Dir"]?.ToString() == "asc" ? "desc" : "asc")">
                @Html.DisplayNameFor(model => model.DateReserved)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="LastName"
                   asp-route-dir="@(ViewData["Sort"]?.ToString() == "LastName" && ViewData["Dir"]?.ToString() == "asc" ? "desc" : "asc")">
                    @Html.DisplayNameFor(model => model.Guest)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="CheckInDate"
                   asp-route-dir="@(ViewData["Sort"]?.ToString() == "CheckInDate" && ViewData["Dir"]?.ToString() == "asc" ? "desc" : "asc")">
                @Html.DisplayNameFor(model => model.CheckInDate)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                asp-route-sort="CheckOutDate"
                asp-route-dir="@(ViewData["Sort"]?.ToString() == "CheckOutDate" && ViewData["Dir"]?.ToString() == "asc" ? "desc" : "asc")">
                @Html.DisplayNameFor(model => model.CheckOutDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardLastFour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateReserved)
            </td>
                <td>
                    @(item.Guest != null
                        ? $"{item.Guest.LastName}, {item.Guest.FirstName}"
                        : "-")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    <span class="@(item.Status?.Equals("Canceled", StringComparison.OrdinalIgnoreCase) == true
                                  ? "fw-bold text-danger"
                                  : "")">
                        @item.Status
                    </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardLastFour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
