@model reservation_tracker.Models.ViewModels.Reservations.ReservationIndexPageViewModel

@{
    ViewData["Title"] = "Index";

    // Sorting variables
    string currentSort = Model.CurrentSort;
    string currentDir = Model.CurrentDir ?? "asc";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                asp-route-sort="DateReserved"
                asp-route-dir="@(currentSort == "DateReserved" && currentDir == "asc" ? "desc" : "asc")">
                 Date Reserved
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="LastName"
                   asp-route-dir="@(currentSort == "LastName" && currentDir == "asc" ? "desc" : "asc")">
                    Guest Name
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="CheckInDate"
                   asp-route-dir="@(currentSort == "CheckInDate" && currentDir == "asc" ? "desc" : "asc")">
                    Check-In Date
                </a>
            </th>
            <th>
                <a asp-action="Index"
                asp-route-sort="CheckOutDate"
                asp-route-dir="@(currentSort == "CheckOutDate" && currentDir == "asc" ? "desc" : "asc")">
                    Check-Out Date
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="NumberOfGuests"
                   asp-route-dir="@(currentSort == "NumberOfGuests" && currentDir == "asc" ? "desc" : "asc")">
                    Number of Guests
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Notes"
                   asp-route-dir="@(currentSort == "Notes" && currentDir == "asc" ? "desc" : "asc")">
                    Notes
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Status"
                   asp-route-dir="@(currentSort == "Status" && currentDir == "asc" ? "desc" : "asc")">
                    Status
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="CardLastFour"
                   asp-route-dir="@(currentSort == "CardLastFour" && currentDir == "asc" ? "desc" : "asc")">
                    Card Last Four
                </a>
            </th>
            <th>
                <a asp-action="Index"
                asp-route-sort="RoomNumber"
                asp-route-dir="@(currentSort == "RoomNumber" && currentDir == "asc" ? "desc" : "asc")">
                    Room Number
                </a>
            </th>
            <th>
                <a asp-action="Index"
                asp-route-sort="DisplayName"
                asp-route-dir="@(currentSort == "DisplayName" & currentDir == "asc" ? "desc" : "asc")">
                    Reserved By
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateReserved)
            </td>
            <td>
                @item.GuestFullName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    <span class="@(item.Status?.Equals("Canceled", StringComparison.OrdinalIgnoreCase) == true
                                  ? "fw-bold text-danger"
                                  : "")">
                        @item.Status
                    </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardLastFour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                    @(
                        item.ReservedByDisplayName != null
                        ? item.ReservedByDisplayName
                        : "-"
                )
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
