@* @model IEnumerable<reservation_tracker.Models.ViewModels.GuestIndexViewModel> *@

@model reservation_tracker.Models.ViewModels.GuestIndexPageViewModel
@{
    ViewData["Title"] = "Index";

    string currentSort = Model.CurrentSort;
    string currentDir = Model.CurrentDir ?? "asc";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                asp-route-sort="LastName"
                asp-route-dir="@(currentSort == "LastName" && currentDir == "asc" ? "desc" : "asc")">
                Name
                </a>
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zipcode
            </th>
            <th>
                Email
            </th>
            <th>
                Notes
            </th>
            <th>
                Company
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Guests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
