@model reservation_tracker.Models.ViewModels.Guests.GuestIndexPageViewModel
@{
    ViewData["Title"] = "Index";

    // Sorting variables
    string currentSort = Model.CurrentSort;
    string currentDir = Model.CurrentDir ?? "asc";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                asp-route-sort="LastName"
                asp-route-dir="@(currentSort == "LastName" && currentDir == "asc" ? "desc" : "asc")">
                    Name
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="PhoneNumber"
                   asp-route-dir="@(currentSort == "PhoneNumber" && currentDir == "asc" ? "desc" : "asc")">
                    Phone Number
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Address"
                   asp-route-dir="@(currentSort == "Address" && currentDir == "asc" ? "desc" : "asc")">
                    Address
                </a>
            </th>
            <th>
                <a asp-action="Index"
                asp-route-sort="City"
                asp-route-dir="@(currentSort == "City" && currentDir == "asc" ? "desc" : "asc")">
                    City
                </a>
            </th>
            <th>
                <a asp-action="Index"
                asp-route-sort="State"
                asp-route-dir="@(currentSort == "State" && currentDir == "asc" ? "desc" : "asc")">
                    State
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Zipcode"
                   asp-route-dir="@(currentSort == "Zipcode" && currentDir == "asc" ? "desc" : "asc")">
                    Zip Code
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Email"
                   asp-route-dir="@(currentSort == "Email" && currentDir == "asc" ? "desc" : "asc")">
                    Email
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Notes"
                   asp-route-dir="@(currentSort == "Notes" && currentDir == "asc" ? "desc" : "asc")">
                    Notes
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sort="Company"
                   asp-route-dir="@(currentSort == "Company" && currentDir == "asc" ? "desc" : "asc")">
                    Company
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Guests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
